<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <!-- 
      This setting forces the test host to run tests sequentially.
      A value of 0 would allow parallel execution based on available cores.
      A value of 1 effectively disables parallelism.
    -->
    <MaxCpuCount>1</MaxCpuCount>
  </RunConfiguration>
  <CodeCoverage>
    <ModulePathFilters>
      <!-- Exclude EF Core migration files from coverage -->
      <Exclude>
        <ModulePath>.*Migrations.*</ModulePath>
      </Exclude>
    </ModulePathFilters>
  </CodeCoverage>
</RunSettings>